<h3 class="widget-title"><span>New Image</span></h3>

<%= render 'form' %>
	<script>
	$(document).ready(function() {
	   $('a.fancybox').fancybox();
       $('.menu-item').removeClass('active');
       $('#upload').addClass('active');	
	});
    	         
	</script>